@charset "UTF-8";

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: rgb(96, 98, 99);
}

main{
    max-width: 500px;
    margin: 20px auto;
    padding: 30px 16px 60px 16px;
    border-radius: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to bottom, #97cfcd, #77a891);
}

h1 {
    text-align: center;
    font-size: 2.8em;
    margin: 0;
    padding-bottom: 30px;
}

section {
    background-color: white;
    font-size: 1.5em;
    margin-bottom: 16px;
    padding: 0px 16px;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.356);
}

section > div {
    padding: 16px 0px;
}

.espConta {
    display: flex;
} 

.espConta label {
    flex: 1;
    align-self: center;
}

.espConta input {
    flex: 3;
}

input[type="number"] {
    font-family: inherit, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 240, 241);
    font-size: 0.7em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px 0px 8px 8px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.356);
}

input[type="number"]::placeholder {
    font-size: 0.4;
    color: rgb(202, 193, 193);
}

.espPercentual {
    display: flex;
    justify-content: space-between;
}

.espTotal {
    font-size: 1.3em;
    font-weight: bold;
}

.range { /*configurando a barra do range*/
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin-top: 12px;
    background: rgb(226, 229, 230);
    border-radius: 3px;
    outline-color: #77a891;
}

.range::-webkit-slider-thumb { /*configurando a bolinha do range*/
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #97cfcd;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #97cfcd;;
    cursor: pointer;
    border: 0px;
}

.range::-moz-focus-outer {
    border: 0px
}