@charset "UTF-8";

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: rgb(96, 98, 99);
}

main{
    max-width: 500px;
    margin: 20px auto;
    padding: 30px 16px 60px 16px;
    border-radius: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to bottom, #97cfcd, #77a891);
}

h1 {
    text-align: center;
    font-size: 2.8em;
    margin: 0;
    padding-bottom: 30px;
}

section {
    background-color: white;
    font-size: 1.5em;
    margin-bottom: 16px;
    padding: 0px 16px;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.356);
}

section > div {
    padding: 16px 0px;
}

.espConta {
    display: flex;
} 

.espConta label {
    flex: 1;
    align-self: center;
}

.espConta input {
    flex: 3;
}

input[type="text"] {
    font-family: inherit, Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 0.7em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px 0px 8px 1px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.356);
}

/*finalizar CSS 2º espaço*/